.header {
    display: flex;
    justify-content: space-around;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}
.header-menu {
    display: flex;
    list-style: none;
    justify-content:space-around;
    width: 350px;
}

.main {
    background-color: #2F303A;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-title {
    color: white;
    font-size: 44px;
    width: 696px;
    margin-bottom: 30px;
    text-align: center;
font-family: Roboto;
}
.header-logo{
    font-family: Raleway;
    color: cornflowerblue;
    font-size: xx-large;
}
.main-button{
    background-color: cornflowerblue;
    color: white;
    height: 50px;
    width: 200px;
    font-family: Roboto;
    border-radius: 8.5px;
    transform: rotate(0deg);
}
.main-button:hover{
    background-color: white;
    color: cornflowerblue;
    transform: rotate(3deg);
    transition-duration: 1s;
}
.header-link:before{
  content: '';
  width: 100%;
  height: 2px;
  background-color: cornflowerblue;
  position: absolute;
  left: 0; 
  bottom: -5px;
  transform: scaleX(0);
}
.header-link:hover:before{
    transform: scaleX(1);
    transition: transform 0.25s;
    color: cornflowerblue;
}
.header-link{
    position: relative;
    color: black;
    font-family: Roboto;
   text-decoration: none;
}


    .advantages{
        display: flex;
        justify-content: space-around;
    }
   

.occupations-title{
    display: flex;
    justify-content: center;
font-size: x-large;
font-family: Roboto;
}
.occupations-images{
    display: flex;
    justify-content: space-around;
    
}

.occupations-image{
    box-shadow: 3px 2px 10px 1px ;
}
.team-img{
    box-shadow: 3px 2px 10px 1px ;
}
.team-title{
    font-size: x-large;
    font-family: Roboto;
    display: flex;
    justify-content: center;
}
.team-cards{
    display: flex;
    justify-content: space-around;
}
.team-img{
    height: 350px;
}
.team-name{
    display: flex;
    justify-content: center;
    font-family: Roboto;
}
.team-job{
    display: flex;
    justify-content: center;
    font-family: Roboto;
    color: grey;
}
.footer{
    background-color: #2F303A;
    height: 170px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: Roboto;
}
.footer-logo{
    color: cornflowerblue;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 400;    
}
.advantages-title{
    font-family: Roboto;
display: flex;
justify-content: space-around;
}
.advantages-text{
    font-family: Roboto;
    display: flex;
justify-content: space-around;
color: gray;
}
.button{
    padding: 5px;
    margin: 4px;
    border-radius: 5px;
    background-color: rgb(121, 164, 255);
    font-family: roboto;
    height: 50px;
    width: 100px;
    font-size: smaller;
    position: absolute;
    left: 200px;
    top: 515px;
    color: rgb(255, 255, 255);
    border: none;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}
.modal1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255);
    opacity: 1;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
    
}
.is-hidden{
opacity: 0;
pointer-events: none;
}
.modal{
    position: absolute;
    left: 50%;
    top: 50%;
     padding: 10px;
     min-height: 600px;
     min-width: 500px;
     transform: translate(-50%, -50%);
     border-radius: 70px;
     text-align: center;
    transition: all 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}
.header-link-modal{
    color: black;
    font-family: Roboto;
 text-decoration: none;
}

.header-link-modal:hover{
    color: rgb(121, 164, 255);
    font-family: Roboto;
 text-decoration: none;
}
.form{
    position: absolute;
    left: 70px;
    top: 40px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    flex-direction: column;     
 }
 .register{
    font-family: roboto;
    margin-bottom: 25px;
    border: 2px solid lightgray;
    width: 370px;
    height: 24px;
    border-radius: 3px;
 }
 .register-comment{
    font-family: roboto;
    margin-bottom: 20px;
    border: 2px solid lightgray;
    width: 370px;
    height: 140px;
    border-radius: 3px;
 }
 .register-logo{
    font-family: roboto;
    margin-bottom: 40px;
 }
 .term{
    color: rgb(121, 164, 255);
    font-family: roboto;
 }
.register-checkbox{
    font-family: roboto;
    border: 2px solid lightgray;
    border-radius: 3px;
    margin-bottom: 10px;
}
.checkbox-text{
    font-family: roboto;
    font-size:  small;
    
}